black==23.3.0
mypy==1.4.1
pytest==7.4.0
ruff==0.0.275
types-python-dateutil==2.8.19.13
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-six==1.16.21.8
types-toml==0.10.8.6
types-urllib3==1.26.25.13
