name: Build Kukur
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
    paths-ignore:
      - "docs/**"

jobs:
  lint_and_test:
    name: Lint and Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install OS requirements
        run: |
          sudo apt-get update
          sudo apt-get --yes install libkrb5-dev

      - name: Install requirements
        run: make deps

      - name: Lint code
        run: make lint

      - name: Run tests
        run: make test

      - name: Build docker container
        run: make build-docker

      - name: Save docker image
        run: docker save kukur:latest > /tmp/kukur.tar

      - name: Create the docker container artifact
        uses: actions/upload-artifact@v4
        with:
          name: kukur-docker
          path: /tmp/kukur.tar
          retention-days: 1

  integration_test:
    name: Integration test
    runs-on: ubuntu-24.04
    needs:
      - lint_and_test
    strategy:
      matrix:
        target:
          - crate
          - elasticsearch
          - influxdb
          - kukur
          - odbc
          - postgres
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download docker container artifact
        uses: actions/download-artifact@v4
        with:
          name: kukur-docker
          path: /tmp

      - name: Load docker container
        run: docker load < /tmp/kukur.tar

      - name: Start integration test compose environment
        run: docker compose -f docker-compose-${{ matrix.target }}.container.yml -f docker-compose-${{ matrix.target }}.yml up -d
        working-directory: tests/test_data

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install OS requirements
        run: |
          sudo apt-get update
          sudo apt-get --yes install libkrb5-dev

      - name: Install specific OS requirements
        if: matrix.target == 'odbc'
        run: |
          sudo apt-get --yes install unixodbc tdsodbc

      - name: Install requirements
        run: make deps

      - name: Run integration test
        run: make integration-test-${{ matrix.target }}

  push_container:
    name: Push tested container
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04
    needs:
      - integration_test
    steps:
      - name: Download docker container artifact
        uses: actions/download-artifact@v4
        with:
          name: kukur-docker
          path: /tmp

      - name: Load docker container
        run: docker load < /tmp/kukur.tar

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: docker.timeseer.ai
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag docker container (sha)
        run: docker tag kukur:latest docker.timeseer.ai/kukur:${GITHUB_SHA}

      - name: Tag docker container (latest)
        run: docker tag kukur:latest docker.timeseer.ai/kukur:latest

      - name: Push docker image (sha)
        run: docker push docker.timeseer.ai/kukur:${GITHUB_SHA}

      - name: Push docker image (latest)
        run: docker push docker.timeseer.ai/kukur:latest
